* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

h1 + p {
  color: #fff;
  font-weight: 700;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

h2 + p {
  font-weight: 700;
  margin-top: 0;
  text-transform: uppercase;
}

.top-text {
  font-size: 0.625rem;
  margin: 0;
  padding-top: 2px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  order: -1;
  border-top: 5px solid #ff0000;
  border-image: linear-gradient(to left, #f00000, pink) 1;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

.logo {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 7px #000;
}

.red {
  color: #ff0000;
}

.intro h1 {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

/* INTRODUCTION SECTION */

.intro {
  background-image: url(../img/tech-blue.jpg);
  background-blend-mode: hard-light;
  background-size: cover;
  background-color: #404040;
  background-position: center;
  padding: 0 0.25em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

/* MAIN-CONTENT */

.main-content {
  padding: 2em 1em;
}

.intro > *,
.main-content > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* FORM */

.email-collector {
  width: 80%;
  max-width: 300px;
}

input,
.btn {
  width: 100%;
  border-radius: 5px;
}

input {
  font-family: inherit;
  text-align: inherit;
  margin-bottom: 0.75em;
  padding: 0.25em;
  border: 1px solid #404040;
  transform: scale(1);
  transition: transform 250ms;
}

input:focus {
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  /* border: 0 */
  cursor: pointer;
}

.btn-primary {
  background-image: linear-gradient(to left, #f00000, #000080);
  color: #fff;
  transform: scale(1);
  transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.1);
}

/* MEDIA QUERY */
@media (min-width: 600px) {
  body {
    font-size: 1.125rem;
    display: flex;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2,
  h1 + p {
    font-size: 1.75rem;
  }

  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
